In [1]:
!pip install pyspark py4j

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 3.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j in /usr/local/lib/python3.10/dist-packages (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=e483919cb600db8a96e13654f152adb02676d29b670f0c7d525c787369260662
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [3]:
import pyspark
import pyspark.sql  as pyspark_sql
import pyspark.sql.types as pyspark_types
import pyspark.sql.functions  as pyspark_functions
from pyspark import SparkContext, SparkConf

In [ ]:
# create the session
conf = SparkConf().set("spark.ui.port", "4050")

# create the context
sc = pyspark.SparkContext(conf=conf)
spark = pyspark_sql.SparkSession.builder.getOrCreate()

In [ ]:
print("")

In [ ]:
lista = [1,2,3,4,5]
rdd = sc.parallelize(lista)

In [ ]:
suma = rdd.reduce(lambda x,y:x+y)
print(suma)

15

In [ ]:
sc.stop()

In [ ]:
sc = SparkContext(appName="MiAplicationSpark")

In [ ]:
sc

In [ ]:
sc.stop()

In [ ]:
sc = SparkContext(appName="EJPersistencia")
lista = [1,2,3,4,5]
rdd = sc.parallelize(lista)

In [ ]:
rdd.persist()

ParallelCollectionRDD[0] at readRDDFromFile at PythonRDD.scala:289

In [ ]:
suma = rdd.reduce(lambda x,y:x+y)
print(suma)

15

In [ ]:
sc.stop()

In [ ]:
sc = SparkContext(appName="EJPersistencia")
lista = [1,2,3,4,5]
rdd = sc.parallelize(lista)

In [ ]:
from pyspark import StorageLevel

In [ ]:
rdd.persist(StorageLevel.MEMORY_AND_DISK)

ParallelCollectionRDD[0] at readRDDFromFile at PythonRDD.scala:289

In [ ]:
rdd.persist(storageLevel="MEMORY_AND_DISK")

In [ ]:
doble = rdd.map(lambda x:x*2)
resultado = doble.reduce(lambda x,y:x+y)
print(resultado)

30

In [ ]:
sc.stop()

In [ ]:
!pip install findspark

Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1

In [ ]:
import findspark
findspark.init

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName('firstSession')\
  .config('spark.master','local[4]')\
  .config('spark.executor.memory','1g')\
  .config("spark.sql.shuffle.partitions",1)\
  .config('spark.drive.memory','1g')\
  .getOrCreate()

In [ ]:
spark

In [ ]:
spark.conf.get('spark.sql.shuffle.partitions')

'1'

In [ ]:
spark.conf.set("spark.sql.shuffle.partitions",2)

In [ ]:
spark.conf.get('spark.sql.shuffle.partitions')

'2'

In [ ]:
spark.sparkContext.getConf().getAll()

[('spark.sql.shuffle.partitions', '1'),
 ('spark.app.name', 'firstSession'),
 ('spark.master', 'local[4]'),
 ('spark.app.startTime', '1700269884019'),
 ('spark.executor.id', 'driver'),
 ('spark.sql.warehouse.dir', 'file:/content/spark-warehouse'),
 ('spark.drive.memory', '1g'),
 ('spark.app.id', 'local-1700269884117'),
 ('spark.driver.extraJavaOptions',
  '-Djava.net.preferIPv6Addresses=false -XX:+IgnoreUnrecognizedVMOptions --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.lang.invoke=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens=java.base/java.net=ALL-UNNAMED --add-opens=java.base/java.nio=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.util.concurrent=ALL-UNNAMED --add-opens=java.base/java.util.concurrent.atomic=ALL-UNNAMED --add-opens=java.base/sun.nio.ch=ALL-UNNAMED --add-opens=java.base/sun.nio.cs=ALL-UNNAMED --add-opens=java.base/sun.security.action=ALL-UNNAMED --add-opens=java.base/sun.util.calendar=ALL-UNNAMED --add-opens=java.security.jgss/sun.security.krb5=ALL-UNNAMED -Djdk.reflect.useDirectMethodHandle=false'),
 ('spark.ui.port', '4050'),
 ('spark.driver.host', 'a90deab3cf56'),
 ('spark.executor.memory', '1g'),
 ('spark.rdd.compress', 'True'),
 ('spark.app.submitTime', '1700263510115'),
 ('spark.serializer.objectStreamReset', '100'),
 ('spark.driver.port', '40473'),
 ('spark.submit.pyFiles', ''),
 ('spark.submit.deployMode', 'client'),
 ('spark.ui.showConsoleProgress', 'true'),
 ('spark.executor.extraJavaOptions',
  '-Djava.net.preferIPv6Addresses=false -XX:+IgnoreUnrecognizedVMOptions --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.lang.invoke=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens=java.base/java.net=ALL-UNNAMED --add-opens=java.base/java.nio=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.util.concurrent=ALL-UNNAMED --add-opens=java.base/java.util.concurrent.atomic=ALL-UNNAMED --add-opens=java.base/sun.nio.ch=ALL-UNNAMED --add-opens=java.base/sun.nio.cs=ALL-UNNAMED --add-opens=java.base/sun.security.action=ALL-UNNAMED --add-opens=java.base/sun.util.calendar=ALL-UNNAMED --add-opens=java.security.jgss/sun.security.krb5=ALL-UNNAMED -Djdk.reflect.useDirectMethodHandle=false')]

In [ ]:
columnas=["id","nombre","genero"]
lista = [(1,"Andres","M"),(2,"Camilo","M"),(3,"David","M"),(4,"Alejandro","M")]
lista

[(1, 'Andres', 'M'),
 (2, 'Camilo', 'M'),
 (3, 'David', 'M'),
 (4, 'Alejandro', 'M')]

In [ ]:
df1=spark.createDataFrame(lista, schema=columnas)
df1.count()

4

In [ ]:
df1.show()

+---+---------+------+
| id|   nombre|genero|
+---+---------+------+
|  1|   Andres|     M|
|  2|   Camilo|     M|
|  3|    David|     M|
|  4|Alejandro|     M|
+---+---------+------+

In [ ]:
df1.columns

['id', 'nombre', 'genero']

In [ ]:
df1.printSchema()

root
 |-- id: long (nullable = true)
 |-- nombre: string (nullable = true)
 |-- genero: string (nullable = true)

In [ ]:
df1.describe().show()

+-------+------------------+---------+------+
|summary|                id|   nombre|genero|
+-------+------------------+---------+------+
|  count|                 4|        4|     4|
|   mean|               2.5|     NULL|  NULL|
| stddev|1.2909944487358056|     NULL|  NULL|
|    min|                 1|Alejandro|     M|
|    max|                 4|    David|     M|
+-------+------------------+---------+------+

In [ ]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

In [ ]:
schema1 = StructType([
    StructField("id", IntegerType(), True),
    StructField("name", StringType(), True),
    StructField("genero", StringType(), True)
])

In [ ]:
df_1 = spark.createDataFrame(lista, schema=schema1)
df_1.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- genero: string (nullable = true)

In [ ]:
df_1.show()

+---+---------+------+
| id|     name|genero|
+---+---------+------+
|  1|   Andres|     M|
|  2|   Camilo|     M|
|  3|    David|     M|
|  4|Alejandro|     M|
+---+---------+------+

In [ ]:
df = spark.read.csv('/content/sample_data/california_housing_train.csv',header=True)

In [ ]:
df.show(5)

+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population|households|median_income|median_house_value|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
|-114.310000|34.190000|         15.000000|5612.000000|   1283.000000|1015.000000|472.000000|     1.493600|      66900.000000|
|-114.470000|34.400000|         19.000000|7650.000000|   1901.000000|1129.000000|463.000000|     1.820000|      80100.000000|
|-114.560000|33.690000|         17.000000| 720.000000|    174.000000| 333.000000|117.000000|     1.650900|      85700.000000|
|-114.570000|33.640000|         14.000000|1501.000000|    337.000000| 515.000000|226.000000|     3.191700|      73400.000000|
|-114.570000|33.570000|         20.000000|1454.000000|    326.000000| 624.000000|262.000000|     1.925000|      65500.000000|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
only showing top 5 rows

In [ ]:
df.count()

17000

In [ ]:
df.write.parquet("parquet_example", mode='overwrite')

In [ ]:
df_p=spark.read.parquet("parquet_example")

In [ ]:
df_p.count()

17000

In [ ]:
df_p.show(5)

+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population|households|median_income|median_house_value|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
|-114.310000|34.190000|         15.000000|5612.000000|   1283.000000|1015.000000|472.000000|     1.493600|      66900.000000|
|-114.470000|34.400000|         19.000000|7650.000000|   1901.000000|1129.000000|463.000000|     1.820000|      80100.000000|
|-114.560000|33.690000|         17.000000| 720.000000|    174.000000| 333.000000|117.000000|     1.650900|      85700.000000|
|-114.570000|33.640000|         14.000000|1501.000000|    337.000000| 515.000000|226.000000|     3.191700|      73400.000000|
|-114.570000|33.570000|         20.000000|1454.000000|    326.000000| 624.000000|262.000000|     1.925000|      65500.000000|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
only showing top 5 rows

In [ ]:
spark.stop()

In [ ]:
spark = SparkSession.builder.appName("Ejemplo SQL CSV").getOrCreate()

In [ ]:
df = spark.read.csv('/content/sample_data/california_housing_train.csv',header=True, inferSchema=True)

In [ ]:
df.printSchema()

root
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- housing_median_age: double (nullable = true)
 |-- total_rooms: double (nullable = true)
 |-- total_bedrooms: double (nullable = true)
 |-- population: double (nullable = true)
 |-- households: double (nullable = true)
 |-- median_income: double (nullable = true)
 |-- median_house_value: double (nullable = true)

In [ ]:
df.createOrReplaceTempView("datos_csv")

In [ ]:
r_genero = spark.sql("SELECT * FROM datos_csv")

In [ ]:
r_genero.show(5)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|
|  -114.47|    34.4|              19.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|
|  -114.56|   33.69|              17.0|      720.0|         174.0|     333.0|     117.0|       1.6509|           85700.0|
|  -114.57|   33.64|              14.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|
|  -114.57|   33.57|              20.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 5 rows

In [10]:
spark.stop()

AttributeError: ignored

Streaming

In [ ]:
from pyspark.sql import SparkSession
from pyspark.streaming import StreamingContext
#nc -lk 9999

-------------------------------------------
Time: 2023-11-18 02:18:47
-------------------------------------------

In [ ]:
#crear una spark session
spark = SparkSession.builder.appName("PySpark Streaming").getOrCreate()
#crear un streaming con intervalo de 1s
ssc=StreamingContext(spark.sparkContext,1)
#Crear un Dstream conectado al socket en el localhost y puerto 9999
lines = ssc.socketTextStream("localhost",9999)
#Dividir cada linea en palabar
words = lines.flatMap(lambda line: line.split(" "))
#Contar las palabras
word_counts = words.map(lambda word: (word,1)).reduceByKey(lambda x,y:x+y)
#imprimir los resultados cada segundo
word_counts.pprint()
#iniciar el procesamienot del streming
ssc.start()
#esperar a qiue la trans termine
ssc.awaitTermination()

Py4JJavaError: ignored

In [9]:
ssc.stop()

NameError: ignored

In [ ]:
ssc=StreamingContext(spark.sparkContext,1)
lines=ssc.socketTextStream("localhost",9999)
words = lines.flatMap(lambda line: line.split(" "))
words_counts = words.map(lambda word: (word,1)).reduceByKey(lambda x,y:x+y)
words_counts.pprint()
ssc.start()
ssc.awaitTermination()

/usr/local/lib/python3.10/dist-packages/pyspark/streaming/context.py:72: FutureWarning: DStream is deprecated as of Spark 3.4.0. Migrate to Structured Streaming.
  warnings.warn(

Py4JJavaError: ignored

ML

In [5]:
from pyspark.sql import SparkSession
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.regression import LinearRegresfrom pyspark.ml.feature import VectorAssemblersion

In [11]:
spark = SparkSession.builder.appName('Pyspark ML').getOrCreate()

In [12]:
data = [(1,2.0),(2,3.0),(3,4.0),(4,5.0),(5,6.0)]
columns = ["x","y"]
df = spark.createDataFrame(data, columns)

In [20]:
#Preparar datos para el modelo
assembler = VectorAssembler(inputCols = ["x"], outputCol="feature")
df = assembler.transform(df)

In [22]:
#Crea un modelo de regresion lineal
lr = LinearRegression(featuresCol="feature", labelCol="y")

In [24]:
#Train model
model = lr.fit(df)

In [25]:
model

LinearRegressionModel: uid=LinearRegression_a36ead0ee686, numFeatures=1

In [26]:
print(model.coefficients)
print(model.intercept)

[1.0000000000000004]
0.9999999999999986

In [27]:
predictions = model.transform(df)
predictions.show()

+---+---+--------+-------+------------------+
|  x|  y|features|feature|        prediction|
+---+---+--------+-------+------------------+
|  1|2.0|   [1.0]|  [1.0]|1.9999999999999991|
|  2|3.0|   [2.0]|  [2.0]|2.9999999999999996|
|  3|4.0|   [3.0]|  [3.0]|               4.0|
|  4|5.0|   [4.0]|  [4.0]|               5.0|
|  5|6.0|   [5.0]|  [5.0]|               6.0|
+---+---+--------+-------+------------------+

In [28]:
spark.stop()

In [38]:
from pyspark.ml.classification import DecisionTreeClassifier
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

In [31]:
spark = SparkSession.builder.appName("ML Clasification").getOrCreate()

In [32]:
data =[(1,0.5,1.0),(2,0.7,0.8),(3,0.1,0.4),(4,0.3,0.6),(5,0.2,0.3)]
columns=["id","feature1","feature2"]
df = spark.createDataFrame(data,columns)

In [33]:
assembler = VectorAssembler(inputCols=["feature1","feature2"],outputCol="feature")
df = assembler.transform(df)
df = df.withColumnRenamed("id","label")

In [39]:
#Create a train
dt=DecisionTreeClassifier(featuresCol="feature",labelCol="label")
model=dt.fit(df)

In [40]:
#Realizar predictions
predictions = model.transform(df)

In [41]:
evaluator = MulticlassClassificationEvaluator(labelCol="label",predictionCol="prediction",metricName="accuracy")
accuracy = evaluator.evaluate(predictions)
print("Precision del modelo: ",accuracy)

Precision del modelo:  1.0

In [42]:
spark.stop()

Titanic

In [77]:
import pyspark.sql.functions as F

In [48]:
spark = SparkSession.builder.appName("ML Clasification").getOrCreate()

In [49]:
dfGender = spark.read.csv('/content/gender_submission.csv',header=True)

In [50]:
dfTest = spark.read.csv('/content/test.csv',header=True)

In [57]:
dfTrain = spark.read.csv('/content/train.csv',header=True)

In [58]:
dfTrain.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|  22|    1|    0|       A/5 21171|   7.25| NULL|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|  38|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|  26|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|  35|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|  35|    0|    0|          373450|   8.05| NULL|       S|
|          6|       0|     3|    Moran, Mr. James|  male|NULL|    0|    0|          330877| 8.4583| NULL|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|  54|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male|   2|    3|    1|          349909| 21.075| NULL|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|  27|    0|    2|          347742|11.1333| NULL|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|  14|    1|    0|          237736|30.0708| NULL|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female|   4|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|  58|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|  20|    0|    0|       A/5. 2151|   8.05| NULL|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|  39|    1|    5|          347082| 31.275| NULL|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|  14|    0|    0|          350406| 7.8542| NULL|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|  55|    0|    0|          248706|     16| NULL|       S|
|         17|       0|     3|Rice, Master. Eugene|  male|   2|    4|    1|          382652| 29.125| NULL|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|NULL|    0|    0|          244373|     13| NULL|       S|
|         19|       0|     3|Vander Planke, Mr...|female|  31|    1|    0|          345763|     18| NULL|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|NULL|    0|    0|            2649|  7.225| NULL|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [56]:
dfTest.show()

+-----------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|        892|     3|    Kelly, Mr. James|  male|34.5|    0|    0|          330911| 7.8292| NULL|       Q|
|        893|     3|Wilkes, Mrs. Jame...|female|  47|    1|    0|          363272|      7| NULL|       S|
|        894|     2|Myles, Mr. Thomas...|  male|  62|    0|    0|          240276| 9.6875| NULL|       Q|
|        895|     3|    Wirz, Mr. Albert|  male|  27|    0|    0|          315154| 8.6625| NULL|       S|
|        896|     3|Hirvonen, Mrs. Al...|female|  22|    1|    1|         3101298|12.2875| NULL|       S|
|        897|     3|Svensson, Mr. Joh...|  male|  14|    0|    0|            7538|  9.225| NULL|       S|
|        898|     3|Connolly, Miss. Kate|female|  30|    0|    0|          330972| 7.6292| NULL|       Q|
|        899|     2|Caldwell, Mr. Alb...|  male|  26|    1|    1|          248738|     29| NULL|       S|
|        900|     3|Abrahim, Mrs. Jos...|female|  18|    0|    0|            2657| 7.2292| NULL|       C|
|        901|     3|Davies, Mr. John ...|  male|  21|    2|    0|       A/4 48871|  24.15| NULL|       S|
|        902|     3|    Ilieff, Mr. Ylio|  male|NULL|    0|    0|          349220| 7.8958| NULL|       S|
|        903|     1|Jones, Mr. Charle...|  male|  46|    0|    0|             694|     26| NULL|       S|
|        904|     1|Snyder, Mrs. John...|female|  23|    1|    0|           21228|82.2667|  B45|       S|
|        905|     2|Howard, Mr. Benjamin|  male|  63|    1|    0|           24065|     26| NULL|       S|
|        906|     1|Chaffee, Mrs. Her...|female|  47|    1|    0|     W.E.P. 5734| 61.175|  E31|       S|
|        907|     2|del Carlo, Mrs. S...|female|  24|    1|    0|   SC/PARIS 2167|27.7208| NULL|       C|
|        908|     2|   Keane, Mr. Daniel|  male|  35|    0|    0|          233734|  12.35| NULL|       Q|
|        909|     3|   Assaf, Mr. Gerios|  male|  21|    0|    0|            2692|  7.225| NULL|       C|
|        910|     3|Ilmakangas, Miss....|female|  27|    1|    0|STON/O2. 3101270|  7.925| NULL|       S|
|        911|     3|"Assaf Khalil, Mr...|female|  45|    0|    0|            2696|  7.225| NULL|       C|
+-----------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [ ]:
#Hechar un vistado a las columnas, la columna Age tiene registros null
unique_data = dfTrain.select('Age').distinct()
unique_data.show(100)

In [84]:
df = dfTrain.select(["Survived","Pclass","Sex","Age","SibSp","Parch","Fare"])

In [85]:
df = df.dropna()
df.count()

714

In [88]:
df = df.withColumn("Sex", F.when(df["Sex"] == "male", 1).otherwise(0))

In [99]:
assembler = VectorAssembler(inputCols=["Survived","Pclass","Sex","Age","SibSp","Parch","Fare"], outputCol="feature")

In [100]:
df = df.withColumn("Survived", df["Survived"].cast("integer"))
df = df.withColumn("Pclass", df["Pclass"].cast("integer"))
df = df.withColumn("Age", df["Age"].cast("integer"))
df = df.withColumn("SibSp", df["SibSp"].cast("integer"))
df = df.withColumn("Parch", df["Parch"].cast("integer"))

In [101]:
df = df.withColumn("Fare", df["Fare"].cast("double"))

In [102]:
df = assembler.transform(df)

In [103]:
(train_data,test_data) = df.randomSplit([0.7,0.3], seed=43)

In [105]:
from pyspark.ml.feature import VectorAssembler

# Crear un VectorAssembler
#assembler = VectorAssembler(
#    inputCols=["columna1", "columna2", "columna3"], # reemplaza esto con los nombres de tus columnas de características
#    outputCol="features"
#)
assembler = VectorAssembler(inputCols=["Survived","Pclass","Sex","Age","SibSp","Parch","Fare"], outputCol="featurex")

# Transformar los datos
train_data = assembler.transform(train_data)

# Crear y entrenar el modelo
rf = RandomForestClassifier(labelCol="Survived", featuresCol="feature")
model = rf.fit(train_data)

# Obtener las predicciones
predictions = model.transform(train_data)

In [106]:
# Mostrar las primeras 20 filas de predicciones
predictions.select("prediction", "Survived", "features").show()

+----------+--------+--------------------+
|prediction|Survived|            features|
+----------+--------+--------------------+
|       0.0|       0|[0.0,1.0,0.0,25.0...|
|       0.0|       0|(7,[1,3,6],[1.0,5...|
|       0.0|       0|[0.0,1.0,1.0,18.0...|
|       0.0|       0|[0.0,1.0,1.0,19.0...|
|       0.0|       0|[0.0,1.0,1.0,24.0...|
|       0.0|       0|[0.0,1.0,1.0,24.0...|
|       0.0|       0|[0.0,1.0,1.0,27.0...|
|       0.0|       0|[0.0,1.0,1.0,28.0...|
|       0.0|       0|[0.0,1.0,1.0,28.0...|
|       0.0|       0|[0.0,1.0,1.0,29.0...|
|       0.0|       0|[0.0,1.0,1.0,30.0...|
|       0.0|       0|[0.0,1.0,1.0,31.0...|
|       0.0|       0|[0.0,1.0,1.0,36.0...|
|       0.0|       0|[0.0,1.0,1.0,37.0...|
|       0.0|       0|(7,[1,2,3],[1.0,1...|
|       0.0|       0|[0.0,1.0,1.0,38.0...|
|       0.0|       0|(7,[1,2,3],[1.0,1...|
|       0.0|       0|[0.0,1.0,1.0,40.0...|
|       0.0|       0|[0.0,1.0,1.0,44.0...|
|       0.0|       0|[0.0,1.0,1.0,45.0...|
+----------+--------+--------------------+
only showing top 20 rows

In [110]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator
p=model.transform(test_data)
E=BinaryClassificationEvaluator(labelCol="Survived")
A=E.evaluate(p)

In [111]:
print(A)

1.0

In [114]:
prediction_and_label = p.select("prediction", "Survived").rdd.map(lambda x: (float(x[0]), float(x[1])))
metrics = MulticlassMetrics(prediction_and_label)
confusion_matrix = metrics.confusionMatrix().toArray()
print("Matriz de Confusión:")
print(confusion_matrix)

Matriz de Confusión:
[[136.   0.]
 [  0.  89.]]